.container {
  display:flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.paginationBtn {
  align-self: flex-start;
}

.demo-table {
  width: 50%;
}
.gg{
  background-color: rgba(6, 38, 126, 0.911);
  color: white;
}
.searchTerm {
  width: 50%;
  border: 3px solid rgba(6, 38, 126, 0.911);
  padding: 15px;
  height: 10px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
  
}
.ff{
  background-color: rgba(129, 9, 9, 0.911);
  color: white;
}
.mat-column-demo-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
.vert{
  color:green;
  font-style:initial;

}
.mat-column-demo-nom {
  width: 600px;
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-dateRendu {
  width: 600px;
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-rendu {
  width: 32px;
  text-align: center;
  font-weight: bold;
}
